#Slider {
    position: relative;
    height: 100vh;
    overflow: hidden;
    #btnLeft, #btnRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #btnLeft{
        left: 5px;
    }
    #btnRight{
        right:5px;
    }
    .myBtn{
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 20px;
        background-color: rgb(201, 32, 32);
        opacity: 0.5;
        transition: 0.5s ease-in;
        color: white;
        font-weight: 700;
        word-spacing: 2px;
        &:hover{
            opacity: 1;
        }
        &:focus {
            outline: none;
        }
    }
    .slider-item {
        height: 100vh;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: scale(5);
        visibility: hidden;
        transition: opacity .6s ease-in-out;
        &.active{
            visibility: visible;
            opacity: 1;
            top: 0;
            transition: 0.4s;
            transform:  scale(1);
        }
        &:nth-child(1) {
            background: url(../img/img1.jpg) no-repeat center center /cover;
        }

        &:nth-child(2) {
            background: url(../img/img2.jpg) no-repeat center center /cover;
        }

        &:nth-child(3) {
            background: url(../img/img3.jpg) no-repeat center center /cover;
        }

        &:nth-child(4) {
            background: url(../img/img4.jpg) no-repeat center center /cover;
        }

        &:nth-child(5) {
            background: url(../img/img5.jpg) no-repeat center center /cover;
        }

        &:nth-child(6) {
            background: url(../img/img6.jpg) no-repeat center center /cover;
        }
    }
}